@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using SWP391.E.BL5.G3.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel System | Tours</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/LogoSystem.png">
    <link rel="shortcut icon" href="~/images/LogoSystem.png">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet prefetch" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.jqtransform.js"></script>
    <script src="~/js/jquery.equalheights.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.ui.totop.js"></script>
    <script>
        $(window).load(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
        $(function () {
            $(".form1").jqTransform();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
    <script language="javascript">

        document.getElementById("btn1").onclick = function () {
            var checkbox = document.getElementsByName("gender");
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked === true) {
                    alert(checkbox[i].value);
                }
            }
        };

    </script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        table, th, td, tr {
            border: 1px thin;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="main">

        <div class="content">
            <h3>View List Register TravelAgent</h3>

            <div class="tours">
                <table class"table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>

                            <th>Image</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Image</th>
                            <th>PhoneNumber</th>
                            <th>RoleId</th>
                            <th>Gender</th>
                          

                           
                          


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var b in ViewBag.ListUserTravelAgent)
                            {

                                <tr>
                                    <td>@b.UserId</td>
                                    <td>@b.Email</td>
                                    <td>@b.Image</td>
                                    <td>@b.FirstName</td>
                                    <td>@b.LastName</td>
                                    <td>@b.Image</td>
                                    <td>@b.PhoneNumber</td>
                                    <td>@b.RoleId</td>
                                    <td>@b.Gender</td>
                                   
                                   

                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>

       
        </div>

 
</body>
</html>