@model SWP391.E.BL5.G3.Models.Vehicle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link href="~/Content/lightbox.min.css" rel="stylesheet" />
<script src="~/Scripts/lightbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<style>

    .star-rating {
        align-items: center;
        display: inline-flex;
    }

        .star-rating .fa-star,
        .star-rating .fa-star-half-alt,
        .star-rating .fa-star.far {
            color: #FFD700;
            font-size: 12px;
        }

</style>

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Image" style="width:200px; height:auto;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Province.ProvinceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleSupplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleSupplier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class="col-sm-10">
            @(Model.Transmission.Value ? "Xe số tự động" : "Xe số sàn")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @switch (Model.VehicleType)
            {
                case 1:
                    @:City Car
                    break;
                case 2:
                    @:Compact MPV
                    break;
                case 3:
                    @:SUV
                    break;
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaggageNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BaggageNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price, "Currency")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Rating != null)
            {
                <div class="star-rating">
                    @{
                        int fullStars = Model.Rating != null ? (int)Model.Rating : 0;
                        int halfStars = (Model.Rating - fullStars) >= 0.5 ? 1 : 0;
                        int emptyStars = 5 - fullStars - halfStars;
                    }

                    @for (int i = 0; i < fullStars; i++)
                    {
                        <i class="fas fa-star"></i>
                    }

                    @if (halfStars > 0)
                    {
                        <i class="fas fa-star-half-alt"></i>
                    }

                    @for (int i = 0; i < emptyStars; i++)
                    {
                        <i class="far fa-star"></i>
                    }
                </div>
            }
            else
            {
                <p>N/A</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @switch (Model.Status)
            {
                case 1:
                    @:Có sẵn
                    break;
                case 2:
                    @:Đang chạy
                    break;
                case 3:
                    @:Đang bảo trì
                    break;
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @(Model.Description != null ? Html.Raw(Model.Description.Replace("\n", "<br />")) : "Will be added as soon as possible")
        </dd>
    </dl>
</div>

@{
    var role = ViewData["Role"]?.ToString();
    if (role == "Customer")
    {
        <div class="text-center mt-4 d-flex flex-column">
            <a asp-action="BookingVehicle" asp-route-id="@Model?.VehicleId" class="btn btn-primary btn-lg">Book now</a>
        </div>
    }
    else
    {
        <div class="text-center mt-4 d-flex flex-column">
        <a asp-action="Login" asp-controller="Login" class="btn btn-primary btn-lg">Book now</a>
        </div>
    }
}

<div class="text-center mt-4 d-flex flex-column">
    <a asp-action="ViewVehicleList" class="btn btn-primary btn-lg">Back to List</a>
</div>