@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<SWP391.E.BL5.G3.Models.Restaurant>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "List of Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Restaurants:</h1>

@using (Html.BeginForm("Index", "Restaurants", FormMethod.Get))
{
    <p>
        @Html.TextBox("searchString", ViewBag.currentSearchString as string)
        <input type="submit" value="Search" />
    </p>
}

<table id="dataTable" class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Restaurant Name
            </th>
            <th>
                Location
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int serialNumber = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @serialNumber
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-action="" asp-route-id="@item.RestaurantId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RestaurantId">Details</a>
                </td>
            </tr>
            serialNumber++;
        }
    </tbody>
</table>

<div class="col-md-12 text-center clear-both">
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, currentSearchString = ViewBag.currentSearchString }))
</div>



