@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model SWP391.E.BL5.G3.Models.Restaurant

@{
    ViewData["Title"] = Model.RestaurantName;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="card shadow-lg mb-4">
        <div class="row no-gutters">
            <div class="col-md-4 text-center p-4">
                <!--Image here-->
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">@Html.DisplayFor(model => model.RestaurantName)</h2>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RestaurantName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RestaurantName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Image)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Location)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Location)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AveragePrice)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AveragePrice, "Currency")
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PriceList)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PriceList)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OpenedTime)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OpenedTime)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ClosedTime)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ClosedTime)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ContactNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ContactNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Summary)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Summary)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Parking)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Parking)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Regulations)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Regulations)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Utilities)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Utilities)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedAt)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UpdatedAt)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BusinessType)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BusinessType.BusinessTypeName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CuisineType)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CuisineType.CuisineTypeName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Province)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Province.ProvinceName)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4 d-flex flex-column">
        <a asp-action="EditRestaurant" asp-route-id="@Model?.RestaurantId" class="btn btn-primary btn-lg">Edit</a>
    </div>
    <div class="text-center mt-4 d-flex flex-column">
        <a asp-action="ListRestaurants" class="btn btn-primary btn-lg">Back to List</a>
    </div>
    
</div>