@model SWP391.E.BL5.G3.Models.Tour
@{
    ViewData["Title"] = "Tour Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>@Model.Name</h2>
    <img src="@Model.Image" alt="@Model.Name" style="width: 300px; height: 300px;" />
    <p>@Model.Description</p>
    <p>Price: @Model.Price</p>
    <p>Duration: @Model.Duration</p>
    <p>AirPlane: @Model.AirPlane</p>
    <p>Rating: @Model.Rating</p>
    <p>Itinerary: @Model.Itinerary</p>
    <p>Inclusions: @Model.Inclusions</p>
    <p>Exclusions: @Model.Exclusions</p>
    <p>Group Size: @Model.GroupSize</p>
    <p>Guide: @Model.Guide</p>
</div>

<a asp-action="ListTour">Back to List</a>
