@model SWP391.E.BL5.G3.ViewModels.VnpRedirectModel
@{
    Layout = "/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">Kết quả thanh toán: @Model.VnpStatusString</h3>
    </div>
    <div class="table-responsive">
        <div><strong>Terminal Code:</strong> @Model.VnpTmnCode</div>
        <div><strong>Amount:</strong> @Model.VnpAmount</div>
        <div><strong>Bank Code:</strong> @Model.VnpBankCode</div>
        <div><strong>Bank Transaction No:</strong> @Model.VnpBankTranNo</div>
        <div><strong>Card Type:</strong> @Model.VnpCardType</div>
        <div><strong>Pay Date:</strong> @Model.VnpPayDate</div>
        <div><strong>Order Info:</strong> @Model.VnpOrderInfo</div>
        <div><strong>Transaction No:</strong> @Model.VnpTransactionNo</div>
        <div><strong>Response Code:</strong> @Model.VnpResponseCode</div>
        <div><strong>Transaction Status:</strong> @Model.VnpTransactionStatus</div>
        <div><strong>Transaction Ref:</strong> @Model.VnpTxnRef</div>
        <div><strong>Secure Hash Type:</strong> @Model.VnpSecureHashType</div>
        <div><strong>Secure Hash:</strong> @Model.VnpSecureHash</div>
    </div>
</div>
